@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --very-dark-color: #4e555f;
  --dark-color: #737c81;
  --grayish-blue-color: #eef1f8;
  --light-grayish-blue: #e9f0f8;
  --darker-color: #49556b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: var(--darker-color);
  color: #fff;
}

@media (min-width: 48rem) {
  .container {
    width: 40rem;
  }
}

@media (min-width: 87.5rem) {
  .container {
    width: 71.25rem;
  }
}

.page {
  min-height: calc(100vh - 15px);
  background-color: var(--light-grayish-blue);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-inline: auto;
  background-color: #fff;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.container .img-container {
  overflow: hidden;
  border-radius: 1.25rem 1.25rem 0 0;
  -webkit-border-radius: 1.25rem 1.25rem 0 0;
  -moz-border-radius: 1.25rem 1.25rem 0 0;
  -ms-border-radius: 1.25rem 1.25rem 0 0;
  -o-border-radius: 1.25rem 1.25rem 0 0;
}

.content {
  line-height: 1.5;
}

.content .info {
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.content .info h3 {
  margin-bottom: 1rem;
  color: var(--very-dark-color);
  font-weight: 700;
  font-size: 0.9rem;
}

.content .info p {
  color: var(--dark-color);
}

.user {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}

.user .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.user .avatar {
  width: 3rem;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-name {
  text-transform: capitalize;
  color: var(--very-dark-color);
}

.user-address {
  color: var(--dark-color);
}

.user .share-icon {
  padding: 0.75rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  background-color: var(--grayish-blue-color);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.user .share-icon.clicked {
  background-color: #6f7f99;
  color: #fff;
}

.social {
  width: 100%;
  height: 100%;
  padding: inherit;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--darker-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform-origin: top;
}

.social.open {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

.social span {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-inline-end: 0.75rem;
}

.social a {
  color: #fff;
  font-size: 1rem;
  margin-inline-end: 0.75rem;
}

@media (min-width: 48rem) {
  .container {
    display: flex;
  }

  .container .img-container {
    border-radius: 1.25rem 0 0 1.25rem;
    -webkit-border-radius: 1.25rem 0 0 1.25rem;
    -moz-border-radius: 1.25rem 0 0 1.25rem;
    -ms-border-radius: 1.25rem 0 0 1.25rem;
    -o-border-radius: 1.25rem 0 0 1.25rem;
  }

  .container .img-container img {
    height: 100%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .social {
    opacity: 0;
    width: fit-content;
    height: fit-content;
    top: unset;
    left: unset;
    bottom: calc(100% - 0.5rem);
    right: 0;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transform: translateX(calc(50% - 2.5rem)) scaleY(0);
    -webkit-transform: translateX(calc(50% - 2.5rem)) scaleY(0);
    -moz-transform: translateX(calc(50% - 2.5rem)) scaleY(0);
    -ms-transform: translateX(calc(50% - 2.5rem)) scaleY(0);
    -o-transform: translateX(calc(50% - 2.5rem)) scaleY(0);
  }

  .social.open {
    opacity: 1;
    transform: translateX(calc(50% - 2.5rem)) scaleY(1);
    -webkit-transform: translateX(calc(50% - 2.5rem)) scaleY(1);
    -moz-transform: translateX(calc(50% - 2.5rem)) scaleY(1);
    -ms-transform: translateX(calc(50% - 2.5rem)) scaleY(1);
    -o-transform: translateX(calc(50% - 2.5rem)) scaleY(1);
  }

  .social::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    border-width: 0.75rem;
    border-style: solid;
    border-color: var(--darker-color) transparent transparent transparent;
    transform: translateX(-0.4rem);
    -webkit-transform: translateX(-0.4rem);
    -moz-transform: translateX(-0.4rem);
    -ms-transform: translateX(-0.4rem);
    -o-transform: translateX(-0.4rem);
  }
}

@media (min-width: 75rem) {
  .user .avatar {
    width: 4rem;
  }

  .user-name {
    font-size: 1.2rem;
  }

  .user-address {
    font-size: 1.05rem;
  }

  .social {
    bottom: calc(100% - 1rem);
  }
}
